body{
    text-align: center;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
#container {
    max-width: 960px;
    margin: 0 auto;
}

#main {
    width: 100%;
}

div{
    text-align: center;
}

.center-list{
    width: 250px;
    margin: 0 auto;
}

.text{
    background: linear-gradient(-45deg ,#2af598, #009efd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
