body{
    background-color: #18a6d6ec;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div{
    text-align: center;
}
h1{
    color:#a13daaec;
    text-align: center;
}
text-center{
    text-align: center;
}
blockquote {
    position: relative;
    padding: 0px 10px 5px 40px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    background: #fff0f0;
    border-top: solid 3px #ff9d9d;
}
blockquote {
    position: relative;
    padding: 0px 10px 5px 40px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    background: #fff4db;
    border-top: solid 3px #ffd596;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 30px;
    text-align: center;
    content: "\f10d";
    font-family: FontAwesome;
    color: #FFF;
    font-size: 18px;
    line-height: 30px;
    background: #ffd596;
    font-weight: 900;
}

blockquote p {
    position: relative;
    padding: 0;
    margin: 10px 0;
    z-index: 3;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}
/* blockquote{
    background-color: #cbf10deb;
    width: 600px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 15px;
} */
em.sample1{
    font-size: large;
}
em.sample2{
    font-weight: bold;
}
table{
    text-align: center;
    border:1px solid;
    border-collapse: separate;
    padding: 5px;
}
tr,td{
    border:1px solid;
    border-collapse: separate;
    padding: 5px;
}
th{
    border: 2px solid;
    border-collapse: separate;
    padding: 5px;
    background-color: #CCFFFF;
}
col.contentCol1{
    background-color: aqua;
}
col.contentCol2{
    background-color: aquamarine;
}