body  {
    background-color: black;
}

div{
    text-align: center;
}


h1{
    text-align: center;
    color: orange;
}

time{
    color: orange;
}


.center-text {
    width: 1000px; /* 横幅を1000ピクセルに設定 */
    margin: 0 auto; /* テキストを中央に配置 */
}

.center-list{
    width: 250px; /* 横幅を1000ピクセルに設定 */
    margin: 0 auto; /
}
p {
    color: orange;
}

li{
    width: 500;
    color: orange;
}

small{
    color: orange;
}
