body  {
    background-color: black;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}

div{
    text-align: center;
}


h1{
    text-align: center;
}




.center-text {
    width: 500px; /* 横幅を1000ピクセルに設定 */
    margin: 0 auto; /* テキストを中央に配置 */
}

.center-list{
    width: 250px; /* 横幅を1000ピクセルに設定 */
    margin: 0 auto; /
}

li{
    width: 500;
}

