<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>My life in NIT, Tsuyama</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">

</head>

<body>
    <div>
        <h1>My life in NIT</h1>
        <img src="../../asset/tenmon.png" height="300">
        <img src="../../asset/morilab.png" height="300">
        <div class="center-text">
            <p>
                I am really enjoying my life at the College of Technology. Attending this school is a new challenge and
                growth opportunity for me.
                The classes are very well organized and allow me to acquire specialized knowledge and practical skills.
                I especially like the <strong>programming</strong> classes and am excited to learn about system design
                and development. It is also great to be able to materialize my ideas through experiments and projects.
                There are plenty of off-campus activities and opportunities to join clubs and societies. I am a member
                of the astronomy club and observe celestial objects on a daily basis.
                There are many restaurants and cafes around the school where you can enjoy time with your friends. The
                school also has a well-equipped library and laboratories where students can concentrate on their
                studies.
                I am currently a fifth-year student at Tsuyama National College of Technology, and I am a member of the
                Mori Information Systems Laboratory. My research theme is neurofeedback using brain waves. I am studying
                how human brain activity can be altered.
                Our school's peaceful campus is filled with beautiful nature. This environment enhances our research
                activities.
            </p>
        </div>

        <div class = "center-text">
            <table border="1" style="border-collapse: collapse;"  width = 100% height="500">
                <caption>NIT Tsuyama in my memory</caption>
                <thead>
                    <tr>
                        <th>grade</th>
                        <th>event</th>
                        <th>memory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Entered Tsuyama National College of Technology</td>
                        <td>It was hard to get to and from home and school.</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Global outbreak of coronavirus</td>
                        <td>Remote classes started, and I didn't go to school for about a year.</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Back to regular classes.</td>
                        <td>I went to Iris Oyama for an internship.</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Voted for the first time in the House of Councilors election</td>
                        <td>I put a lot of effort into studying for next year.</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Passed Toyohashi University of Technology</td>
                        <td>I was able to become an adult.</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <!-- <a href="timeTable.html">Timetable</a><br> -->


    </div>

</body>

</html>