<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Self Introduction</title>
        <link rel="stylesheet" type="text/css" href="selfIn.css">
        
    </head>
    <body>
        <h1>
            About myself...
        </h1>
        <time datetime="2023-10-20 12:00:00">
            2023-10-20
        </time>
        <p>
            Hello! My name is <em class="sample1">Sunami</em>.
            I am a student in NIT Tsuyama, Japan. <br>
            I like E business. I would like to work hard to develop new services in the future!
        </p>
        <p>
            My favorite music artist is <b><cite>CHANMINA</cite></b>.<br>
            My favorite song by Chamina is <b><q>Never Grow Up</q></b>.

        </p>
        <img src="../../asset/chanmina.png" width="30%" height="250">
        <img src="../../asset/chanmina2.jpg" width="30%" height="250">
        <img src="../../asset/chanmina3.png" width="30%" height="250">
        </p>
        <blockquote cite="https://ja.wikipedia.org/wiki/%E3%81%A1%E3%82%83%E3%82%93%E3%81%BF%E3%81%AA">
            <p>
                Chamina (real name: Mina Otomonai) is a Japanese female rapper and artist. Her nickname is "Nerima no Beyonce. Her record company is Warner Music Japan.
            </p>
            <footer>Wikipedia, <cite>CHANMINA</cite></footer>
        </blockquote>

        Chamina (real name: Mina Otomouchi) is a Japanese female rapper and artist. Her nickname is "Nerima no Beyonce. Her record company is Warner Music Japan.
        <p>
        
            
            My room is 7m<sup>2</sup>.<br>
            From next year, he will live alone in Tokyo. <br>
            Therefore, I would like to live in a large room. However, rent is expensive in Tokyo, so I would like to live on a budget.<br>
            My favorite place is <ruby>高梁<rt>たかはし</rt> is in <ruby>岡山<rt>おかやま</rt></ruby>.
                <ol>
                
                <li>備中松山城</li>
                
                <li>吹屋ふるさと村</li>
                
                <li>うかん常山公園</li>
                
                </ol>
        </p>
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/8hjcRX4TUaw?si=tMT8LeJGNeKUGn5J" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <img src="../../asset/takahashi.jpg" width="90%"><br>
        <a href="./sunami_life.html">My life in NIT, Tsuyama</a><br>

        <small>Copyright &copy; 1985-2023 NIT Tsuyama.ALL Right Reseved.</small>
    </body>
</html>