<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>My life in NIT, Tsuyama</title>
    <link href="life.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div>
    <h1>My life in NIT</h1>
    <img src="../../asset/ryou.jpg" height="250">
    <img src="../../asset/ryou1.jpg" height="250">
    <div class="center-text">
        <p>
            The most difficult and positive experience of my life at NIT was <b>living in the dormitories</b>. <br>
            It was the first time in my life that I lived in a dormitory.
            When I was a freshman, the rules in the dormitory were very strict, and there were many difficulties. 
            I hated the dorms because I had to be loud every day because of the way I greeted people, and senior students would come to check on me during study time and get angry if I didn't study properly.
            But now, thanks to this, I feel that I have grown as a person. 
            I feel that I have become a person who can look at things with a relaxed attitude and take things for granted. 
            Since my sophomore year, I have taken responsibility for my own actions in the dormitory, and I have learned to do my laundry and clean my room properly. 
            In addition, I have been able to do my committee work well, and in my fourth year, as the chairperson of the committee, I contributed to organizing the entire committee and making the dormitory a better place to live. 
            I am now able to balance my studies with my life in the dormitory, and I have gained many new experiences in addition to dormitory life, such as studying, writing reports, and doing my graduation research.
        </p>
    </div>
    </div>
</body>

</html>