<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>My life in NIT, Tsuyama</title>
    <link href="life.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div>
    <h1>My life in NIT</h1>
    <img src="../../asset/ryou.jpg" height="250">
    <img src="../../asset/ryou1.jpg" height="250">
    <div class="center-text">
        <p>
            The most difficult and positive experience of my life at NIT was <b>living in the dormitories</b>. <br>
            It was the first time in my life that I lived in a dormitory.
            When I was a freshman, the rules in the dormitory were very strict, and there were many difficulties. 
            I hated the dorms because I had to be loud every day because of the way I greeted people, and senior students would come to check on me during study time and get angry if I didn't study properly.
            But now, thanks to this, I feel that I have grown as a person. 
            I feel that I have become a person who can look at things with a relaxed attitude and take things for granted. 
            Since my sophomore year, I have taken responsibility for my own actions in the dormitory, and I have learned to do my laundry and clean my room properly. 
            In addition, I have been able to do my committee work well, and in my fourth year, as the chairperson of the committee, I contributed to organizing the entire committee and making the dormitory a better place to live. 
            I am now able to balance my studies with my life in the dormitory, and I have gained many new experiences in addition to dormitory life, such as studying, writing reports, and doing my graduation research.
        </p>
    </div>
    </div>

    <div class = "center-text">
        <table border="1" style="border-collapse: collapse;"  width = 100% height="500">
            <caption>NIT Tsuyama in my memory</caption>
            <thead>
                <tr>
                    <th>grade</th>
                    <th>event</th>
                    <th>memory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Entered Tsuyama National College of Technology and began dormitory life.</td>
                    <td>I found out how hard dormitory life was and wanted to quit.</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>The days of remote teaching continued due to the coronavirus epidemic.</td>
                    <td>Although there was the advantage of being able to teach at home through remote classes, it was difficult because of the many assignments.</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>I went to Sendai for my first internship.</td>
                    <td>I now understand how hard it is to go out into the world and work, and my thinking about the future has changed.</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>I became the chairman of the dormitory committee.</td>
                    <td>There was a lot of hard work involved in committee work, daily reports, cross-disciplinary research, and graduation research.</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>I got a job at the company of my first choice.</td>
                    <td>It was difficult for me to balance my studies before entering the workforce and my graduation research.</td>
                </tr>
                <tr>
                    <th colspan="2">Favorite place in campus</th>
                    <td>Laboratory or your room in the dormitory</td>
                </tr>
                <tr>
                    <th colspan="2">Most like in convenience store</th>
                    <td>Seven-Eleven</td>
                </tr>
                <tr>
                    <th colspan="2">Favorite teacher</th>
                    <td>Mori teacher and Bou teacher</td>
                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>