<!DOCTYPE html>
<html>
    <head>
        <mata charset="utf-8">
        <title>Today's Timetable</title>
        <link rel="stylesheet" type="text/css" href="selfIn.css"
    </head>
    <body>
        <h1>Timetable of Friday</h1>
        <table border="1" style="border-collapse: collapse; border-color: rgb(0, 10, 13);" width="75%" height="500">
            <colgroup>
                <col class=contentCol1"/>
                <col class=contentCol2" />
            </colgroup>
            <caption>
                Time table
            </caption>
            <thead>
                <tr height="100">
                    <th>time</th>
                    <th>lecture</th>
                    <th>content</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1,2</th>
                    <td>Freedom!</td> 
                    <td>study</td>
                </tr>
                <tr>
                    <th>3,4</th>
                    <td>E business</td>
                    <td>html and css</td>
                </tr>
                <tr>
                    <th>5,6</th>
                    <td>Freedom!</td>
                    <td>study</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Freedom!</td>
                    <td>relax</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Freedom!</td>
                    <td>relax</td>
                </tr>
                <tr>
                    <th>After school</th>
                    <td>part-time job</td>
                    <td>work</td>
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Evening</th>
                    <td colspan="2">Go home, Game, Youtube</td>
                </tr>
            </tfoot>
        </table>

    </body>
</html>