<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>My life in NIT, Tsuyama</title>
</head>

<body>
    <h1>My life in NIT</h1>
   
    <p>
        I would like to describe my life at Tsuyama National College of Technology by grade.
        First of all, I am a first-year student. I had to sit in a chair for an hour and a half to study, and I had to be involved in club activities. In addition, we had to join club activities, which made time management difficult.
        Next came the second year. At this point, the students were divided into four different departments. Specialized subjects were added, and it was difficult to keep up with the classes. Therefore, I concentrated on the classes more than in the first year.
        In the third year, there was a cross-division of all the departments, which stimulated me a lot. In order to go further into college, grades from this year became very important. Therefore, they prepared carefully for each test and took on the challenge.
        In the fourth year, I needed to decide on a career path, so I participated in open schools and internships to gather information. In order to gain more experience, I lived my life with off-campus activities in mind.
        In the 5th year, I was able to finalize my career path early and am in the process of starting my graduation research. Since he can decide some of the dates on his own, he needs to plan carefully.
        Looking back on your life at the technical college so far, what are the points that you should pay attention to?<br>
        <p>
            <ol>
                <li>Submit your assignments</li>
                <li>Don't be overdue for absences</li>
                <li>Interact with seniors and get past papers</li>
                <li>Do off-campus activities to make your résumé easier to write.</li>
            </ol>
        </p>
        
    </p>
</body>

</html>