<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>My life in NIT, Tsuyama</title>
    <link rel="stylesheet" type="text/css" href="./css/life.css">
</head>

<body>
    <h1>My life in NIT</h1>
    <p>
        I would like to describe my life at <em class="sample1"> National College of Technology</em> by grade.<br>
        First of all, I am a <em class="sample2">first-year</em> student. <br>I had to sit in a chair for an hour and a half to study, and I had to be involved in club activities. In addition, we had to join club activities, which made time management difficult.<br>
        Next came the <em class="sample2">second year</em>. <br>At this point, the students were divided into four different departments. Specialized subjects were added, and it was difficult to keep up with the classes. Therefore, I concentrated on the classes more than in the first year.<br>
        In the <em class="sample2">third year</em>.<br>
        There was a cross-division of all the departments, which stimulated me a lot. In order to go further into college, grades from this year became very important. Therefore, they prepared carefully for each test and took on the challenge.<br>
        In the <em class="sample2">fourth year</em>.<br> 
        I needed to decide on a career path, so I participated in open schools and internships to gather information. In order to gain more experience, I lived my life with off-campus activities in mind.<br>
        In the <em class="sample2">fifth year</em>.<br>
        I was able to finalize my career path early and am in the process of starting my graduation research. Since he can decide some of the dates on his own, he needs to plan carefully.<br>
        Looking back on your life at the technical college so far, what are the points that you should pay attention to?<br>
       
        <blockquote>
            <p>Points to keep in mind when living as a student:
                <ol>
                    <li>Submit your assignments</li>
                    <li>Don't be overdue for absences</li>
                    <li>Interact with seniors and get past papers</li>
                    <li>Do off-campus activities to make your résumé easier to write.</li>
                </ol>
            </p>

        </blockquote>
        
        
    </p>
</body>

</html>