<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Self Introduction</title>
        <link rel="stylesheet" type="text/css" href="../kazuki/css/selfln.css">
    <!-- Code injected by Five-server -->
  <script async data-id="five-server" data-file="/Users/morimotoikki/Desktop/outlooks-homepage/components/kazuki/selfintro1.html" type="application/javascript" src="/fiveserver.js"></script>
  </head>
    <body>
        <div>
            <div id="cont">
            <h1>About myself...</h1>
            <time>2023-10-20</time>
            <p>Hi! My name is <em class="sample1">Kazuki</em>.
                I study about IT information. <br>
                Next year, I will go to <cite>univercity</cite> in aiti prefecture. <br>
                <q>Toyohashi University of Techonology</q>
            </p>
        
            <p>
                My favorite movie is <cite>spider-man</cite> series. <br>
                <q>With great <mark>power</mark> comes great <b>responsibility</b></q><br>
                We have to reduce emission of CO<sub>2</sub>.<br>
                My room is 10m<sup>2</sup>.<br>
                My favorite place is <ruby>座間味島<rt>ざまみとう</rt></ruby>
                in <ruby>沖縄<rt>おきなわ</rt></ruby>.
            </p>
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/ivmfqQtco2o?si=pd2b6B7Z5ETjmlPU" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe><br>
        
            <img src="../../asset/spaida-man.jpg" width="380" height="450"alt="Your Friendly Neighborhood Spider-Man"><br>
            <small>Copyrright &copy; 1985-2023 NIT Tsuyama. All Rights Reseved.</small><br>
        
            <a href="https://www.hmv.co.jp/artist_スパイダーマン_000000000179559/item_アメイジング・スパイダーマン-シリーズ-ブルーレイ-コンプリートBOX_7836093">Your Friendly Neighborhood Spider-Man</a>
        
            <blockquote cite="https://ja.wikipedia.org/wiki/アベンジャーズ_(マーベル・コミック)">
                <p>
                    "Avengers" is a hero team that appears in American Comics published by Marvel Comics. It is also used in the titles of comics, anime, and movies in which they appear.
                </p>
                <footer>Wikipedia, <cite>Avengers (Marvel Comics)</cite></footer>
            </blockquote>

            <dl>
                <dt>Ben Paker</dt>
                <dd>He is the uncle of the main character Peter Parker</dd>
                <dt>Mary Jane Watson</dt>
                <dd>"Mary Jane Watson" commonly known as "MJ."
                    Peter Parker's lover, also known as Spiderman.</dd>
                <dt>Venom</dt>
                <dd>Spider-Man's villain and dark hero.</dd>
            </dl>
        
            <p>These are my hobbies:
                <div class="center-list">
                    <ul>
                        <li>watching youtube</li>
                        <li>playing soccer</li>
                        <li>shopping for clothes</li>
                    </ul>
                </div>
            </p>
            <p>Best animes for me:
            
                <ol>
                    <ul>
                        <li>Unemployed Reincarnation</li>
                        <li>bungo stray dogs</li>
                    </ul>
                </ol>
            
            </p>
            <a href="kazuki_life.html">My life in NIT</a>
            </div>    
        </div>
    </body>
</html>