<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Self Introduction</title>
    </head>
    <body>
        <h1>About myself...</h1>
        <time>2023-10-20</time>
        <p>Hi! My name is Kazuki.
            I study about IT information. <br>
            Next year, I will go to <cite>univercity</cite> in aiti prefecture. <br>
            <q>Toyohashi University of Techonology</q>
        </p>
        
        <p>
            My favorite movie is <cite>spider-man</cite>series. <br>
            <q>With great <mark>power</mark> comes great <b>responsibility</b></q>
            We have to reduce emission of CO<sub>2</sub>.<br>
            My room is 10m<sup>2</sup>.<br>
            My favorite place is <ruby>座間味島<rt>ざまみとう</rt></ruby>
            in <ruby>沖縄<rt>おきなわ</rt></ruby>.
        </p>

       
        <small>Copyrright &copy; 1985-2023 NIT Tsuyama. All Rights Reseved.</small>
        <img src="Spider-man.jfif" width="380" height="450"
        alt="Your Friendly Neighborhood Spider-Man"
        <a href="https://virtualgorillaplus.com/movie/spider-man-no-way-home-name/">Your Friendly Neighborhood Spider-Man</a>
        <p>These are my hobbies:
            <ul>
                <li>watching youtube</li>
                <li>playing soccer</li>
                <li>shopping for clothes</li>
            </ul>
        </p>
        <p>Best animes for me:
            <ol>
                <li>Unemployed Reincarnation</li>
                <li>bungo stray dogs</li>
            </ol>
        </p>


    </body>
</html>